body {
  font-family: 'arial',sans-serif;
}
p {
  font-size: 20px;
}
h5 {
  font-size: 25px;
}
h2 {
  font-size: 30px;
  position: relative;
  left: 70px;
  bottom: 65px;
}
iframe.steam {
  position: relative;
  bottom: 60px;
}
h3 {
  font-size: 30px;
  position: relative;
  left: 65px;
  bottom: 72px;
}
iframe.xbox {
  position: relative;
  bottom: 60px;
}
h4 {
  font-size: 30px;
  position: relative;
  left: 65px;
  bottom: 78px;
}
iframe.psn {
  position: relative;
  bottom: 60px;
}
img.meme {
  padding: 25px;
  border: 25px solid red;
  margin: 50px;
}
@keyframes swipe {
    0%   {background-color: white;
    left: 0px;}
    100% {background-color: inherit;
    left: 420px;}
}
@keyframes swipelong {
    0%   {background-color: white;
    left: 0px;}
    100% {background-color: inherit;
    left: 600px;}
}
img.short {
  position: relative;
  animation-name: swipe;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
img.long {
  position: relative;
  animation-name: swipelong;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
