body {
  font-family: 'arial',sans-serif;
}
p {
  font-size: 20px;
}
h5 {
  font-size: 25px;
}
h2 {
  font-size: 30px;
  position: relative;
  left: 70px;
  bottom: 65px;
}
iframe.steam {
  position: relative;
  bottom: 60px;
}
h3 {
  font-size: 30px;
  position: relative;
  left: 65px;
  bottom: 72px;
}
iframe.xbox {
  position: relative;
  bottom: 60px;
}
h4 {
  font-size: 30px;
  position: relative;
  left: 65px;
  bottom: 78px;
}
iframe.psn {
  position: relative;
  bottom: 60px;
}
img.meme {
  padding: 25px;
  border: 25px solid red;
  margin: 50px;
}
@keyframes starter {
    0%   {background-color: white;
    left: 0px;}
    10%  {background-color: red;
    left: 50px;}
    25%  {background-color: yellow;
    left: 180px;}
    50%  {background-color: blue;
    left: 290px;}
    100% {background-color: green;
    left: 500px;}
}
img.xbox:hover {
  position: relative;
  animation-name: starter;
  animation-duration: 10s;
}
